/*General*/
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    scroll-behavior: smooth;
    position: relative;
    background: url(pics/neubau.jpeg) fixed center;


}

.overlay {
    background-color: white;
    opacity: 0.92;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}


.card {
    border: 5px solid beige;
    width: 85%;
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}
.card h1 {
    background-color: #2d96fc;
    text-align: left;
    padding: 20px;
    padding-left: 20px;
    margin: 0;

}
.card p {
    padding: 20px;
}
.inCard {
    display: inline-block;
    width: 33%;
} .dropdown {
    display: none;
}



/*Navbar*/
#navbar {   
    margin-top: 0;
    height: 120px;
    padding-left: 20px;
    background-color: #2d96fc;
    justify-content: space-between;
    align-items: center;
} #navbar li, button {
    display: inline-block;
    height: 120px;
    width: auto;
    vertical-align: middle;
    position: relative;
    
} .navItem {
    padding: 15px;
    position: relative;
    vertical-align: middle;
    line-height: 120px;
    text-decoration: none;
    color: white;
    transition: all .5s;
    margin-left: 15px;
    font-size: 22px;
    border-radius: 5px;
    scroll-behavior: smooth;
    
} #navbar a:hover {
    background-color: #0382ff;
    
} #logo {
    height: 120px;
    width: auto;
    margin-right: 20px;
}



/*Designing the landing page*/
#bgStart {
    background: url(pics/neubau.jpeg) fixed center;
}
#start {
    height: 500px;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: -40px;
    background-color: lightskyblue;
    font-size: 30px;
    opacity: 0.9;

} #logoStart {
    width: 200px;
    vertical-align: middle;
    margin-left: -20px;
}

#startText {
    padding: 20px;
    margin-top: 30px;
    font-size: 70px;
    text-align: center;
    color: black;
    vertical-align: middle;
    background-color: #6ac2e6;
    font-weight: bold;
    position: relative;
    right: 20px;
}


 #explore {
    border: 3px white solid;
    background: none;
    padding: 15px;
    color: whitesmoke;
    transition: all .5s;
    font-size: 20px;
    scroll-behavior: smooth;
    color: black;
} 
#explore:link, #explore:visited, #explore:hover, #explore:active  {
    text-decoration: none;


}#explore:hover {
    padding: 20px;
    border: 5px white solid;
    font-size: 23px;
}


/*Info*/


/*Footer*/

footer {
    background-color: slategray;
    margin: 0;
    width: 100%;
    height: 100px;
    text-align: center;

}


#impressum {
    align-self: middle;
    margin: 50px;
    padding: 40px;

}







@media (max-width: 600px) {
    #navbar {
        text-align: center;

    }
    
    
    .PC-menu {
        display: none;
    }

    #impressum {
        margin: 0;
    }

    #startText {
        right: 5px;
        font-size: 40px;
    }
    
    #logoStart {
        height: 80px;
        width: auto;
    }

    #start {
        height: 370px;
    }


    .inCard {
        display: block;
        width: 100%;
    }

    
    
}